.jumbotron {
  padding-top: 6rem;
  background-size: 1500px;
  background-color: #2ecc73;
}

/* font-family: 'Bruno Ace', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nabla', cursive;
  font-family: 'Poppins', sans-serif; */

nav {
  font-family: "Bruno Ace", cursive;
  font-size: large;
}

.display-4 {
  font-family: "Nabla", cursive;
}

p .lead {
  font-family: "Poppins", sans-serif;
}

.navbar-nav {
  font-family: "Poppins", sans-serif;
}

.me {
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: large;
  font-family: "Nabla", cursive;
}

#project {
  background-color: #2ecc73;
}

section {
  padding-top: 5rem;
}

label {
  font-family: "Poppins", sans-serif;
}

.card-text {
  text-align: justify;
}

.card-text a {
  font-style: italic;
  color: white;
  text-decoration: none;
}
